<main class="index-content container mt-5">
  <div class="url-tittle m-auto">
    <h4 class="text-center">URL CREATER</h4>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="短網址產生器">
  </div>
  <div class="url-input m-auto mt-3">
    <form action="/" method="POST">
      <div>
        {{#if endUrl}}
        <span>{{headerUrl}}/{{endUrl}}</span>
        {{/if}}
        {{#if alart}}
        <span style="color: red">{{alart}}</span>
        {{/if}}
      </div>
      <div>
        <input type="text" class="form-control" placeholder="input URL here" name="url">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary btn-lg mt-3">shourten</button>
      </div>
    </form>
  </div>
</main>